page-apresentacao {
    background: rgb(166, 219, 166);
    // background-image: $backgroundAzul;
    // ion-content {
    //     background: $backgroundAzul;
    // }
    .just{
        text-align: justify !important;
        font-family: 'FuturaStd-Book';
    }
    .texto{
        h1{
            text-align: center;
            font-family: 'FuturaStd-Heavy';
            font-size: 1.9rem;
        }

        h2{
            text-align: center;
            font-family: 'FuturaStd-Heavy';
            font-size: 1.7rem;
        }

        p{
            
            text-align: left;
            font-family: 'FuturaStd-Book';
        }
    }

    .assinatura{
        p{
            text-align: center;
            font-family: 'FuturaStd-Book';
        }
    }

    a:link, a:visited{
        color: brown;
        text-decoration:none; 
        // font-size: 1.2em;
    }
}
