page-modal-info {

    background-color: white;

    ion-icon {
        display: inline-block;
        font-size: 1.2em;
        position: absolute;
        right: 5%;
    }

    ion-content {
        background: white;
        font-family: 'FuturaStd-Book';
        font-size: 1.2em;
        text-align: left;
    }

    
}
