page-sumario-menu {
    background: rgb(166, 219, 166);
    ion-content {
        
        font-family: 'FuturaStd-Book';
        font-size: 1.2em;
    }
    .icone{
        font-size: 2em;
        margin-left: 5%;
    }

    .tabelaBg1{
        ion-row{
            // border-bottom: 1px solid #000000;
            // background: #33ccff;
            color: black;
            padding-left: 2%;
        }
    }

    .tabelaBg2{
        ion-row{
            border-bottom: 2px solid #6e3d35;
            background: rgb(58, 126, 58);
            color: white;
            padding-left: 2%;
        }
    }
}
