.ios, .md {
    page-home {
        background-color: rgb(215, 235, 215);
        font-family: 'FuturaStd-Book';
        text-align: center;
        ion-content {
            // background: $backgroundAzul;
        }

        .card-md {
            background: rgb(238, 255, 238);
            height: 90%;
        }

        .card-header-md {
            font-size: 2.6rem;

        }


        .tabela{
            position: relative;
            margin-top: 50%;
        }

        .icone{
            font-size: 2em;
            // color: white;
        }

        a:link, a:visited{
            color: black;
            text-decoration:none; 
            // font-size: 1.2em;
        }
    }
}
