.ios, .md {
    page-home {
        ion-content {
            background: $backgroundAzul;
        }
        .tabela{
            position: relative;
            margin-top: 50%;
        }

        .icone{
            font-size: 2em;
            // color: white;
        }

        a:link, a:visited{
            color: black;
            text-decoration:none; 
            // font-size: 1.2em;
        }
    }
}
