page-geral-lista {
    ion-content {
        background: $backgroundAzul;
        font-family: 'FuturaStd-Book';
        font-size: 1.2em;
        text-align: center;
    }
    .icone{
        font-size: 2em;
        margin-left: 5%;
    }

    .tabelaBg1{
        ion-row{
            border-bottom: 1px solid 33ccff;
            background: #33ccff;
            color: black;
            padding-left: 2%;
        }
    }

    .tabelaBg2{
        ion-row{
            border-bottom: 1px solid #0585b0;
            background: #0585b0;
            color: white;
            padding-left: 2%;
        }
    }

    .spinner-container {
        width: 100%;
        text-align: center;
        padding: 10px;
      }

    .cabecalho img{
        width: 100%;
        height: 100%;
        max-height: 200px;
        padding: 3%;
        border-radius: 25px;
    }

    .icon_info{
        position: relative;
        
    }
}
