// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.alert-ios .alert-radio-label{ white-space: pre-line;}
.alert-md .alert-radio-label{ white-space: pre-line;}
.alert-wp .alert-radio-label{ white-space: pre-line;}

body {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  }
  
  @font-face {
    font-family: FuturaStd-Medium;
    src: url('../assets/fonts/Futura-Std-Medium.ttf');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: FuturaStd-Bold;
    src: url('../assets/fonts/Futura-Std-Bold.ttf');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: FuturaStd-Light;
    src: url('../assets/fonts/Futura-Std-Light.ttf');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: FuturaStd-Book;
    src: url('../assets/fonts/Futura-Std-Book.ttf');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: FuturaStd-Heavy;
    src: url('../assets/fonts/Futura-Std-Heavy.ttf');
    font-weight: bolder;
    font-style: normal;
  }

  @font-face {
    font-family: ArialMT;
    src: url('../assets/fonts/ArialMT.ttf');
    font-weight: normal;
    font-style: normal;
  }

  .ion-md-www::before {
    content: url(../assets/icon/www_icon_white.png);
    position: relative;
  }