page-unb {
    background: rgb(166, 219, 166);

    // [col-4]{
    //     max-width: 27.33333%;
    // }
    h1{
        text-align: center;
        font-family: 'FuturaStd-Heavy';
        // font-size: 1.6rem;
    }

    ion-row{
        border: 1px solid rgb(182, 218, 182);
    }

    .labelEsq{
        text-align: center;
        font-family: 'FuturaStd-Bold';
    }

    .labelDir{
        text-align: center;
        font-family: 'FuturaStd-Book';
        color: black;
    }

    ion-icon{ 
        margin-right: 8%;
    }
}
